# Square Connector Credentials
#
# How to get this:
# 1. Go to developer.squareup.com
# 2. Sign in with your Square account
# 3. Click "Applications" then your app (or create one)
# 4. Click "Credentials" in the left menu
# 5. Copy the "Access Token" under Production (not Sandbox)

SQUARE_ACCESS_TOKEN=your_access_token_here
